.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.c {
  width: 20px;
  height: 20px;
  background-color: aquamarine;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.c.cc {
  background-color: #7fffa5;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
